#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 25px;
}

#login-form input {
  border: none;
  padding: 13px 0px;
  font-size: 16px;
  margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}
/* not([])을 사용. input의 type이 submit이 아닌 경우만 경계선의 아래의 색을 바꾸고 transition을 주라는 것 */

#login-form input::placeholder {
  opacity: 0.4;
}
#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  opacity: 0.8;
  cursor: pointer;
  font-size: 15px;
  padding: 18px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
/* inherit는 부모로부터 상속받는 것을 의미. 따라서 color:inherit;는 부모로부터 색을 상속받음. */
/* 만일 login-form에 id가 아닌 class를 사용했다면 .login-form__input {} 과 .login-form__btn {} 그리고 .login-form__a {}를 사용했을 것임. id를 쓰는 것 보다 훨씬 간결하고 알아보기 쉬움 */
